@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Merienda&display=swap');

:root {
        --vermelho: #EF645E;
        --amarelo: #f7eedc;
        --azul-escuro: #0F1035;
}

body {
        margin: 0;
        font-size: 17px;
        background-color: var(--azul);
}

.grid-container {
        display: grid;
        grid-template-columns: repeat(12, [start] 1fr);

}

.navbar {
        grid-column: start / span 12;
        background-color: var(--vermelho);
        grid-row: 1;
        box-sizing: border-box;
        padding:  0 1dvw;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.navbar ion-icon {
        font-size: 2em;
        color: var(--amarelo);
}
.navbar ion-icon:hover{
        cursor: pointer;
        color: var(--amarelo);
}

.navbar .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
        color: var(--amarelo);
}

.navbar h1 {
        font-family: "Lexend", sans-serif;
        color: var(--amarelo);
}

.icecream-logo {
        width: 150px;
        height: 100%;
}
.sidebar{
        width: 50%;
        height: 100vh;
        background-color: var(--vermelho);
        flex-direction: column;
        z-index: 2;
        grid-row: 1;
        position: fixed;
        left: 0;
        display: none;
        justify-content: flex-start;
        align-items: center;
}
.sidebar ion-icon {
        font-size: 2em;
        color: var(--azul-claro);
}
.sidebar a{
        font-family: "Lexend", sans-serif;
        color: var(--amarelo);
        margin: 0;
        text-align: center;
        font-size: 4vw;
}
.header {
        grid-column: start / span 12;
        background-color: var(--amarelo);
        background-size: cover;
        grid-row: 2;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
        border-bottom: 3px solid var(--vermelho);
}
.header-imagem{
        width: 100%;
}
.header h1 {
        font-family: "Lexend", sans-serif;
        color: var(--vermelho);
        margin: 0;
        font-size: calc(2rem + 3vw);
        text-align: center;
}
.header p{
        font-family: "Lexend", sans-serif;
        color: var(--vermelho);
        margin: 0;
        text-align: center;
        font-size: 4vw;
}
.header a{
        background-color: var(--vermelho);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--amarelo);
        border-radius: 15px;
        text-decoration: none;
        font-family: "Lexend", sans-serif;
}
.sorvetes {
        display: grid;
        grid-column: start / span 12;
        grid-template-columns: repeat(12, [col] 1fr);
        background-color: var(--amarelo);
        background-size: cover;
        grid-row: 3;
        box-sizing: border-box;
        gap: 10px;
        position: relative;
        box-sizing: border-box;
        padding: 2vh 0;
}
.item1{
        grid-column: 2 / span 10;
        background-color: #EF645E;
        height: 100px;
 
}
.item2{
        grid-column: 2 / span 10;
        background-color: #EF645E;
        height: 100px;

}
.item3{
        grid-column: 2 / span 10;
        background-color: #EF645E;
        height: 100px;
}
@media screen and (min-width: 601px) {
 .header p{
        font-size: 1vw;
}

}